{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}




{% block body %}
    {% if user.username %}
        <h3>Hello {{ user.username }}!</h3><br>

            <table>
                <tr>
                    <td>
                        <a href="{% url 'repos' %}"> Repositories</a>
                    </td>

                    <td>
                        <a href="{% url 'organizations' %}"> Organizations</a>
                    </td>
                </tr>
            </table>

            <br><br><br>
        <a href="{% url 'logout' %}">Sign out</a><br>
    {% else %}
        <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    {% endif %}

{% endblock %}

